{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div id="sub-nav">
    </div>
    <div class="list-question">
        <div class="questions">
            <div class="container" style="background-color: rgba(209, 255, 213, 0.808); padding: 5px; box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px; 
            border-radius: 20px;" >
                <h3 id="fh3">{{question.title}}</h3>
                <hr>
                <h6 id="fh6">{{ question.body|safe }}</h6>
                <hr>
                <h6 id="fh6" style="font-size: 10px; font-style: italic; color: rgb(155, 155, 155); text-align: right;">Asked By: <a href="">{{ object.user|title }}</a>
                    &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; On: {{ object.created|date:"j F, Y" }}</h6>

                    <form action="{% url 'like_post' object.pk %}" method="POST">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                            {% if liked %}
                                <div style="display: flex; align-items: center; margin-left: 10px;">
                                    <button type="submit" name="question_id" value="{{ question.id }}" style="border: none; border-radius: 60px;"><img src="https://image.similarpng.com/very-thumbnail/2020/06/Dislike-icon-transparent-PNG.png" alt="" style="width: 40px;"></button> <h5 style="margin-left: 10px; cursor: pointer;"> |  {{ total_likes }} Likes</h5>
                                </div>
                            {% else %}
                                <div style="display: flex; align-items: center; margin-left: 10px;">
                                    <button type="submit" name="question_id" value="{{ question.id }}" style="border: none; border-radius: 30px;"><img src="https://i.pinimg.com/originals/39/44/6c/39446caa52f53369b92bc97253d2b2f1.png" alt="" style="width: 40px;"></button> <h5 style="margin-left: 10px; cursor: pointer;"> |  {{ total_likes }} Likes</h5>
                                </div>
                            {% endif %}
                        {% else %}
                            <h5 style="margin-left: 10px; cursor: pointer;"><a href="{% url 'login' %}">Login</a> to Like Question |  {{ total_likes }} Likes</h5>
                        {% endif %}

                    </form>

                <h2>Answers...</h2>

                {% if not question.answer.all %}
                    <h3>No Answers yet...</h3>
                {% else %}
                    {% for answer in question.answer.all %}
                        {% if answer.correct %}
                            <div style="background-color:green">
                                <h3 style="font-weight: normal; font-size: 15px;">{{answer.content|safe}}</h3>
                                <h3 style="font-size: 10px;">Answered by: <i><a href="">{{answer.user.username|title}}</a> - On: {{answer.responded_on|date:"j F, Y"}}</i></h3>
                                {% if request.user == object.user %}
                                    <a href="{% url 'validate_answer' question.id %}">Correct?</a>
                                {% else %}
                                    <p style="background-color:yellow;">This is the answer to the above question!!!</p>
                                {%endif%}
                                <hr>
                            </div>
                        {% else %}
                            <div style="background-color:rgb(196, 194, 194)">
                                <h3 style="font-weight: normal; font-size: 15px;">{{answer.content|safe}}</h3>
                                <h3 style="font-size: 10px;">Answered by: <i><a href="">{{answer.user.username|title}}</a> - On: {{answer.responded_on|date:"j F, Y"}}</i></h3>
                                {% if request.user == object.user %}
                                    <a href="{% url 'validate_answer' question.id %}">Correct?</a>
                                {%endif%}
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if request.user != object.user %}
                    {% if user.is_authenticated %}
                        <a class="btn btn-outline-primary" id="fa" href="{% url 'questions_answer' question.id %}" style="text-decoration: none;">Answer Question</a>
                    {% else %}
                    <a class="btn btn-outline-primary" id="fa" href="{% url 'login' %}" style="text-decoration: none;">Login to answer this Question</a>
                    {% endif %}
                {% endif %}
                <a style="text-decoration: none; " class="btn btn-outline-success" href="{% url 'questions_update' question.id %}">&#x270E;</a>
                <a style="text-decoration: none; " class="btn btn-outline-danger" href="{% url 'questions_delete' question.id %}">&#x2716;</a>
                <a style="text-decoration: none; " class="btn btn-outline-secondary" href="{% url 'questions_list' %}">&#x21a9;</a>
            </div> <br><br>
            </div> <br>
        </div>
    </div>
    <br>
</div>
{% endblock content %}