{%extends 'base.html'%}
{%block content%}

<div class="container">
    <div class="list-question">
        <div class="questions">
            <table class="table table-bordered mt-0 table-striped" style="margin-bottom:0px;">
                <thead class="border-bottom font-italic font-weight-bold">
                    <tr style="font-weight: bolder;">
                        <td>Discussion Brief</td>
                        <td>Author</td>
                        <td>Replies</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for question in questions %}
                        <tr>
                            <td><h4>{{question.title}}</h4></hr>
                                <p>
                                    {% if question.body|wordcount <= 20 %}
                                    <p id="fh6" style="text-align: left;">{{ question.body | safe}}</p>
                                    {% else %}
                                    <p id="fh6" style="text-align: left;">{{ question.body|truncatewords:20 |safe}} <a href="{% url 'questions_detail' question.id %}">Read More</a></p>
                                    {% endif %}
                                </p>
                            </td>
                            <td>{{question.user}}</td>
                            <td>{{question.answer.all.count}}</td>
                            <td><a href="{% url 'questions_detail' question.id %}">view</a></td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock content%}