{%load static%}
<style>
    .hello-msg{
        font-size:18px;
        color:rgb(232, 242, 233);
        margin-right: 20px;
    }
    #navlink{
        color:rgb(13, 12, 19);
    }
    a {
        color:rgb(63, 83, 214);
    }
    a:hover{
    color:rgb(4, 0, 255);
    }
    #navItem{
        color:rgb(233, 242, 234);
        font-size:18px;
    }
    .profile_pic{
        max-width: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>
<nav class="navbar navbar-expand-lg" style="background-color: rgb(8, 40, 8);">
    <a href="{%url 'home'%}" class="navbar-brand"><img src="{{STATIC_URL}} /static/images/Logo.png" style="height: 60px; margin-left:10px;" alt=""> </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarNav" aria-controls="=navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> 
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>-->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            
            <li class="nav-item active" >
                <a href="{%url 'questions_list'%}" class="nav-link" id="navItem">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a href="{% url 'questions_create' %}" class="nav-link" id="navItem">Ask</a>
            </li>
            <li class="nav-item active">
                <a href="{%url 'profile_settings'%}" class="nav-link"  id="navItem">Profile</a>
            </li>
            {% endif %}
        </ul>
        {% if request.user.is_staff %}
        <span><a href="#" class="nav-link"  id="navItem"><button class="btn btn-warning">Go To Admin Page</button></a></span>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <!-- <span class="hello-msg">Hello, {{request.user.username}} </span> -->
    <a href="{% url 'profile_settings' %}"><img src="{{request.user.profile.prof_pic.url}}" class="profile_pic" alt="" style="height: 40px; margin-right: 5px;"></a>
    <a id="navlink" href="{%url 'logout'%}"><button style="background-color: white; margin-right: 10px;" class="btn">Logout</button></a>
    {%else%}
    <a id="navlink" href="{%url 'login'%}"><button class="btn btn-primary">Login</button></a>
    {%endif%}
</nav>