<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forum App</title>
<body>
    <div class="container">
        <h4>Register Here</h4>
            <div class="content">
                <form action="#" method="post">
                    {% csrf_token %}
                    <div>
                        <div class="input-box">
                            <span class="details">Username</span>
                            {{form.username}}
                        </div>
                        <div class="input-box">
                            <span class="details">Email</span>
                            {{form.email}}
                        </div>
                        <div class="input-box">
                            <span class="details">Password</span>
                            {{form.password1}}
                        </div>
                        <div class="input-box">
                            <span class="details">Confirm Password</span>
                            {{form.password2}}
                        </div>
                    </div>
                    <div class="button">
                    <input type="submit" value="Register">
                    </div>
                </form>
                {% include 'messages.html' %}
                {% if form.errors %}
                <div>
                <div>
                    <ul>
                    <li>{{form.errors}}</li>
                    </ul>
                </div>
                </div>
                {% endif %}

                <div style="margin-bottom: 0px;" class="text-center"><h6>Already have an account?<a href="{%url 'login'%}"> Login</a></h6></div>
            </div>
            <script>
                var form_fields = document.getElementsByTagName('input')
                form_fields[1].placeholder='Username'
                form_fields[2].placeholder='(e.g) john@domain.com'
                form_fields[3].placeholder='Password...'
                form_fields[4].placeholder='Re-enter password...'

                for(var field in form_fields){
                    form_fields[field].className += 'form-control'
                }
            </script>
    </div>

</body>
</html>
