<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Woni wa Ndoi</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}" type = "text/css"/>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
   </head>
<body>
    <div class="container" style="padding: 20px;">
        <h4 style="margin:0px;" class="title">Register Here</h4>
        <!-- <div class="justif-content-center h-100"> -->
            <!-- <img src="logo.png" class="logo" alt=""> -->
            <div class="content">
                <form action="#" method="post">
                    {% csrf_token %}
                    <div style="margin-top: 0px;" class="user-details">
                        <div class="input-box">
                            <span class="details">Member Number</span>
                            {{form.username}}
                        </div>
                        <div class="input-box">
                            <span class="details">Email</span>
                            {{form.email}}
                        </div>
                        <div class="input-box">
                            <span class="details">Password</span>
                            {{form.password1}}
                        </div>
                        <div class="input-box">
                            <span class="details">Confirm Password</span>
                            {{form.password2}}
                        </div>
                    </div>
                    <div class="button">
                    <input type="submit" value="Register">
                    </div>
                </form>
                {% include 'messages.html' %}
                {% if form.errors %}
                <div class="col-12 register-field">
                <div class="alert alert-block alert-danger">
                    <ul>
                    <li>{{form.errors}}</li>
                    </ul>
                </div>
                </div>
                {% endif %}

                <div style="margin-bottom: 0px;" class="text-center"><h6>Already have an account?<a href="{%url 'woni_app:login'%}"> Login</a></h6></div>
            </div>
            <script>
                var form_fields = document.getElementsByTagName('input')
                form_fields[1].placeholder='(e.g) MEM001WON'
                form_fields[2].placeholder='(e.g) john@domain.com'
                form_fields[3].placeholder='Password...'
                form_fields[4].placeholder='Re-enter password...'

                for(var field in form_fields){
                    form_fields[field].className += 'form-control'
                }
            </script>
            <footer style="margin-top: 0px;" id="footer">
                    <div class="copyright">
                        &copy;Copyright <strong>Woni Wa Ndoi SHG</strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        Created by <a href="#"><strong>@Scooby.254</strong> </a> of <a href="#">---Outam Systems---</a>
                    </div>
            </footer>
        <!-- </div> -->
    </div>

</body>
</html>
